section#userAccompte div.homePresentation {
	margin-bottom: 30px;
	padding: 20px 0 0 0;
}

section#userAccompte div.homePresentation, section#userAccompte div.homePresentation div
	{
	text-align: center;
}

section#userAccompte>div {
	width: 85%;
}

#invitationReceiveContain>p {
	display: flex;
	justify-content: center;
	align-items: center;
}

section#userAccompte span {
	cursor: auto;
}

section#userAccompte #containSpaceInfoDiv>div {
	width: 100%
}

section#userAccompte #containSpaceInfoDiv #partOneSpaceUser>div {
	margin: 20px 0;

}
#userAccompte .formLogin p.messErrorStyle{
	color:#80baee;

}

#invitationSendContain>div:nth-child(3)>p:nth-child(1) {
	font-family: 'Handlee', cursive;
	color: #9f0505;
	text-shadow: 0px 0px 1px #020202;
}

#partOneSpaceUser {
	border-bottom: 1px solid #9f0505;
}

section#userAccompte #containSpaceInfoDiv #partOneSpaceUser #relationShipContain,
	#containSpaceInfoDiv {
	border-top: 1px solid #9f0505;
}

section#userAccompte form.formLogin label {
	width: auto;
	margin-top: 0;
}

section#userAccompte form.formLogin input {
	margin-bottom: 10px;
}

section#userAccompte form.formLogin fieldset {
	text-align: center;
}
section#userAccompte #containSpaceInfoDiv #partOneSpaceUser #relationShipContain>div
	{
	margin: 10px 0;
}

section#userAccompte .formLogin {
	text-align: center;
}

section#userAccompte .formLogin label {
	font-weight: bold;
}

#formInvitationToSend {
	display: flex;
	justify-content: center;
}
/*section#userAccompte .formLogin p.legende{

}*/
section#userAccompte #containSpaceInfoDiv #partOneSpaceUser #relationShipContain #relationShip,
	section#userAccompte #containSpaceInfoDiv #partOneSpaceUser #invitationSendContain #invitationSend,
	section#userAccompte #containSpaceInfoDiv #partOneSpaceUser #invitationReceiveContain #invitationReceive
	{
	overflow: hidden;
	height: 0px;
}

section#userAccompte #containSpaceInfoDiv #partOneSpaceUser #relationShipContain #relationShip #containAllRelation,
	section#userAccompte #containSpaceInfoDiv #partOneSpaceUser #invitationSendContain #containAllInvitation,
	section#userAccompte #containSpaceInfoDiv #partOneSpaceUser #invitationReceiveContain #containAllInvitationReceive
	{
	opacity: 0;

}
section#userAccompte #containSpaceInfoDiv #partOneSpaceUser #invitationSendContain #containAllInvitation,
section#userAccompte #containSpaceInfoDiv #partOneSpaceUser #invitationReceiveContain #containAllInvitationReceive
{
	border-bottom: 1px solid #9f0505;
}

section#userAccompte #containSpaceInfoDiv #partOneSpaceUser #invitationSendContain #containAllInvitation>div>div
	{
	justify-content: center;
	align-items: center;
}
/*section#userAccompte #containSpaceInfoDiv #partOneSpaceUser #invitationSendContain #containAllInvitation > div > div p,
#invitationSendContain > p:nth-child(1), #containAllInvitationReceive div > p*/
section#userAccompte #containSpaceInfoDiv #partOneSpaceUser form.formLogin input
	{
	margin: 0;
}
#invitationSendContain div:nth-child(2n){
	text-align: center;
}
section#userAccompte #containSpaceInfoDiv #partOneSpaceUser label {
	width: auto;
/*	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 1em;
	color: #9f0505;*/
	text-shadow: 0px 0px 1px #020202;
}

section#userAccompte #containSpaceInfoDiv #partOneSpaceUser form#formInvitationToSend div div.flexrow
	{
	align-items: center;
}
#containAllRelation > div{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
section#userAccompte .formLogin .legende{
	color:antiquewhite;
	font-size: 1em;
	margin-top:0;
	font-size: 0.9em;
	font-weight: unset;
}
section#userAccompte .formLogin h3{
	color:antiquewhite;
	font-size: 1.5em;
	margin: 10px 0 0 0;
}
section#userAccompte .formLogin button, section#userAccompte .formLogin input[type="submit"]{
	padding: 8px 15px 35px 15px;
}