@media screen and (max-width:767px) {
	#repairMob {
		display: block;
	}
	#repairTab, #repairMobXs {
		display: none;
	}
	h2, h3, p {
		text-shadow: none;
	}
	h2 {
		color: #9f0505;
	}
	header {
		height: 70px;
		z-index: 4000;
	}
	#loginMobile li {
		list-style: none;
		top: 0px;
		width: 40px;
		height: 40px;
		right: 0px;
	}
	#loginMobile img {
		width: 40px;
		height: 40px;
	}
	#loginMobile ul {
		padding: 0;
		margin: 0;
	}
	#menuLoging, div#loginContain {
		display: none;
	}
#contentSearchIng {

    width: 95%;

}
	#loginMobile a {
		right: 0px;
		top: 0;
		position: absolute;
		padding: 25px;
	}
	section>div {
		width: 95%;
	}
	#loginMobile {
		display: block;
		right: 20px;
		top: 13px;
	}
	#menuMobile {
		display: block;
		height: 100%;
		z-index: 70002;
	}
	#fondMenuMobile {
		height: 0;
		width: 0;
		position: fixed;
		top: 70px;
		left: 50%;
		right: 50%;
		transform: translateX(-50%);
		background-color: white;
		z-index: 99999;
	}
	nav#menuMobile li img {
		height: 70px;
		margin: auto 20px;
	}
	nav#menuMobile li hr {
		margin: 10px;
		width: 50px;
		border: 1px solid #9f0505;
	}
	nav#menuMobile a {
		font-size: 1.5em;
		text-decoration: none;
	}
	nav#menuMobile li {
		display: flex;
		width: 100%;
		align-items: center;
		margin: auto;
	}
	nav#menuMobile li:hover {
		background-color: white;
	}
	#menuMobile ul {
		height: 100%;
		margin: auto;
		padding: 0;
		opacity: 0;
		justify-content: space-evenly;
		align-items: center;
		width: 100%;
		background-color: antiquewhite;
	}
	#btnMenuMobile, #btnMenuMobileOff {
		display: block;
		position: fixed;
		top: 15px;
		font-size: 2.2em;
		right: 90px;
		color: #9f0505;
		cursor: pointer;
		z-index: 9999;
	}
	#btnMenuMobileOff {
		display: none;
	}

	/*	input{
padding-left: 0px;
	}*/
	#validAllPlanningWeek {
		top: 120px;
		z-index: 9000;
	}
	section#homeSection #friseKajoo img {
		margin: 0 20px;
		height: 40px;
	}
	.contentPlaningWeek .dateWeek {
		margin: 5px 0;
		font-size: 0.8em;
	}
	#rappelShopToday #txtRappelShopToday p {
		padding-right: 55px;
		text-align: right;
	}
	section {
		width: 90%;
		align-items: center;
		margin: auto;
		margin-bottom: 50px;
	}
	/*#recipesAlpha nav ul li {
    margin: 0 2px;
    font-size: 1em;
}*/
	section#recetteContainDiv {
		width: 100%;
	}
	section#homeSection, section#loginSection, section {
		padding: 0;
		margin-top: 170px;
	}
	.contentPlaningWeek h3 {
		font-size: 1.8em
	}
	div.contentPlaningWeek>span:nth-child(2) {
		top: 5px;
		font-size: 1.5em;
	}
	#contentNewRecipe, #contentViewRecipe, #contentModifViewRecipe {
		width: 100%;
	}
	#actionCategory {
		width: 95%;
	}
	#contentNewRecipe>h2:nth-child(1) {
		margin-left: 10px;
	}
	#actionCategory div h2, #contentNewRecipe h2 {
		font-size: 1em;
		padding-left: 0px;
	}
	section#recetteContainDiv h2:hover {
		font-size: 1.1em;
	}
	section h1 {
		font-size: 1.8em;
		text-align: center;
	}
	/*	div.fondTitle{
		height: 85px;
	}*/
	.homePresentation {
		text-align: justify;
		margin-top: 10px;
	}
	/*section#recetteContainDiv #recipes nav ul li span:hover {
    font-size: 0.9em;
}*/
	/*#recipesAlpha li:hover, #paginationRecipe li:hover {
    font-size: 1.1em;
}*/
	section#userAccompte #containSpaceInfoDiv #partOneSpaceUser form#formInvitationToSend div div.flexrow
		{
		align-items: center;
		flex-direction: column;
		padding: 10px 0;
	}
	#contentNewViewRecipe {
		padding-top: 10px;
		margin-top: 0;
	}
	#contentModifViewRecipe #alphaModifRecipe {
		display: flex;
	}
	#contentNewViewRecipe>div:nth-child(1)>div:nth-child(6) {
		flex-wrap: wrap;
	}
	#recipesAlpha nav ul li, #paginationRecipe nav ul li {
		width: 20px;
	}
	#paginationRecipe nav ul li span {
		margin: 0;
	}
	/*#contentViewRecipe, #contentModifViewRecipe, #contentNewViewRecipe {
border-radius: 0;
overflow: hidden;
!*border-right: 0;
border-left: 0;*!
!*padding: 20px 0;*!

}*/
#contentNewFood div.whiteSpace input, #contentModifFood div.whiteSpace input {
    margin: 0 5%;

}
	#contentNewFoodEtape, #contentModifFoodEtape {
		flex-direction: column;
		margin-top: 0px;
	}
	#contentModifEtape div.etapeRecipeFlex div div.flexColumn div.flexrow:nth-child(2) textarea,
		#contentNewEtape div.etapeRecipeFlex div div.flexColumn div.flexrow:nth-child(2) textarea
		{
		max-width: 100%;
		width: 100%;
	}
	#contentEtape {
		padding-right: 0px;
	}
	#contentFood, #contentNewFood, #contentModifFood {
		padding: 10px 0;
		/*border-bottom: 1px solid white;*/
	}
	#contentModifEtape, #contentNewEtape, #contentEtape {
		margin: auto;
	}
	#contentNewViewRecipe #newMessErrorTitle, #contentNewViewRecipe #newMessErrorCateg,
		#contentNewViewRecipe #newMessErrorAlpha, #contentNewViewRecipe #newMessErrorIng,
		#contentNewViewRecipe #newMessErrorEtape {
		margin-top: 0px;
	}
	#contentModifEtape div.etapeRecipeFlex div div.flexColumn div.flexrow:nth-child(1),
		#contentNewEtape div.etapeRecipeFlex div div.flexColumn div.flexrow:nth-child(1)
		{
		flex-wrap: wrap;
		margin: 10px 0;
		align-items: end;
	}
	section#planningContainer>div {
		width: 95%;
	}
	#contentModifViewRecipe #alphaModifRecipe, #contentNewViewRecipe #alphaNewRecipe
		{
		align-items: center;
		margin-bottom: 10px;
	}
	#titleNewRecipe, #titleModifRecipe {
		margin-bottom: 10px;
		width: 100%
	}
	section#recetteContainDiv #contentModifViewRecipe #titleModifRecipe #titleNewModifRecipe,
		section#recetteContainDiv #newTitleRecipe {
		font-size: 1.4em;
	}
	#contentNewRecipeInfos, #contentModifRecipe {
		min-width: auto;
	}
	#Newlove, #alphaNewRecipe {
		width: auto;
	}
	#contentModifFoodEtape div.whiteSpace, #contentNewFoodEtape div.whiteSpace {
		align-items: center;
		margin: 10px 0;
	}
	#contentNewViewRecipe>div:nth-child(1)>div:nth-child(2) {
		align-items: center;
	}
	#contentNewViewRecipe  #actionNewRecipe, #contentModifViewRecipe #actionModifRecipe
		{
		flex-direction: row;
	}
	span#validNewRecipe, span#validModifRecipe {
		width: 170px;
	}
	section #btnCategory,#btnCategoryFriend,#btnCategoryOther {
		width: 95%;
	}
	.calendar button, div.month {
		font-size: 1.2em;
	}
	#divAllDay span.cell.day, #divAllDay span.cell.number {
		font-size: 0.9em;
	}
	#contentNewViewRecipe>div:nth-child(1)>div:nth-child(8),
		#contentModifViewRecipe>div:nth-child(1)>div:nth-child(8) {
		flex-direction: column;
		margin-bottom: 10px;
		padding-bottom: 10px;
		margin-top: 10px;
		border: 0;
	}
	#imgNewRecipe, #imgModifRecipe {
		margin: 20px;
	}
	#contentFood, #contentNewFood, #contentModifFood {
		max-width: 100%;
		width: 100%;
		text-align: left;
		padding:0;
	}
	 #contentModifEtape,#contentNewEtape, #contentEtape{
		max-width: 90%;
		width: 90%;
		text-align: left;
		padding:0;
		}
	#contentNewRecipe, #contentViewRecipe, #contentModifViewRecipe {
		
	}
	#imgRecipeTitle img, #imgRecipe img, #imgViewRecipe img {
		max-width: 280px;
		padding-right: 0;
	}
	#imgNewRecipe, #imgModifRecipe {
		flex-wrap: wrap;
	}
	#imgModifRecipe, #imgNewRecipe, #imgRecipe {
		padding-left: 10px;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	#contentNewEtape, #contentModifEtape {
		margin-top: 20px;
		padding: 0;
	}
	#recipesAlpha nav ul {
		/*flex-wrap: wrap;*/
		padding-left: 0;
		/*justify-content: center;*/
	}
	#divPlanningMonthAndWeek {
		width: 100%;
		padding-top: 20px;
	}
	.calendar {
		width: 300px;
		margin-left: 0px;
	}
	#contentPlaningMonthDay {
		margin-left: 0;
	}
	div#divPlanningMonthAndWeek span#ShowCurentMonth p, div#divPlanningMonthAndWeek span#ShowCurentWeek p
		{
		font-size: 0.9em
	}
	.contentPlaningWeek {
		margin: 0;
	}
	#recipes nav ul li {
		cursor: pointer;
		font-size: 1.2em;
		padding-left: 20px;
	}
	#actionCategory input {
		width: auto;
	}
	section #btnCategory button {
		margin: 5px 10px;
	}
	section#planningContainer {
		margin-top: 180px;
	}
	section#recetteContainDiv #recipes nav ul li {
		margin: 5px 0;
	}
	#contentViewRecipe>div:nth-child(2)>div:nth-child(2) {
		flex-direction: column;
	}
	#contentRecipe>div.flexrow {
		padding-top: 0px;
	}
	#contentRecipe {
		min-width: 90%;
		min-height: 130px;
		padding: 0 0px 0px 10px;
		margin: 10px 0;
	}
/*	#contentViewRecipe>div:nth-child(2)>div:nth-child(1), div.flexrow:nth-child(9)
		{
		justify-content: center;
		align-items: center;
	}*/
	#contentFoodEtape, #contentNewFoodEtape {
		flex-direction: column;
		border:0; 
	}
	#newBlockTwo div.hideDivAnim div, #modifBlockTwo div.hideDivAnim div {
		margin: 10px;
	}
	#newBlockTwo div.hideDivAnim, #modifBlockTwo div.hideDivAnim {
		justify-content: space-evenly;
		padding: 0;
		margin: auto;
		width: 100%;
		flex-wrap: wrap;
	}
	#newBlockThree div.hideDivAnim, #newBlockFour div.hideDivAnim,
		#modifBlockThree div.hideDivAnim, #modifBlockFour div.hideDivAnim {
		flex-direction: column;
	}
	#newBlockThree>div:nth-child(2)>div:nth-child(1), #modifBlockThree>div:nth-child(2)>div:nth-child(1)
		{
		flex-direction: column;
	}
	#newBlockThree div.hideDivAnim, #modifBlockThree div.hideDivAnim {
		padding: 0
	}
	#contentViewRecipe>div:nth-child(3)>div:nth-child(2) {
		flex-wrap: wrap;
		justify-content: center;
	}
	section#userAccompte #containSpaceInfoDiv {
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
	section#userAccompte div.homePresentation {
		text-align: center;
	}
	section#userAccompte>div {
		width: 95%;
	}
	section#userAccompte #containSpaceInfoDiv>div {
		width: 100%;
	}
	section#userAccompte #containSpaceInfoDiv #partOneSpaceUser #relationShipContain
		{
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		margin: auto;
	}
	#imgRecipeModif img, #imgRecipeNew img, #imgViewRecipe img {
		max-width: 350px;
		padding-right: 0px;
		max-height: 200px;
		margin: 20px 0;
	}
	section#recetteContainDiv #contentNewRecipe span.fa-camera, section#recetteContainDiv #contentModifViewRecipe span.fa-camera
		{
		padding: 10px;
	}
	#partTwoSpaceUser form.formLogin>fieldset {
		margin-bottom: 20px;
	}

}