section#recetteContainDiv div.fondTitle, section#userAccompte div.fondTitle
	{
	height: 155px;
	background-image: url('../img/kajoo/kajoo7.png');
}

section#recetteContainDiv div.fondTitle h1, section#userAccompte div.fondTitle h1
	{
	margin-top: 90px;
}

section #btnCategory, #btnCategoryFriend,#btnCategoryOther {
	display: flex;
	width: 80%;
	flex-wrap: wrap;
	margin: 30px 0 10px 0;
	justify-content: center;
	height: auto;
}

section #btnCategory button, #btnCategoryFriend button,#btnCategoryOther button {
	cursor: pointer;
}

section#recetteContainDiv #actionCategory input, section#recetteContainDiv #actionCategory select
	{
	width: 280px;
}

section#recetteContainDiv .formLogin {
	text-align: left;
	margin: auto;
	margin-top: auto;
	margin-top: 15px;
}

#contentModifEtape select, #contentNewEtape select {
	width: 50px;
}

section#recetteContainDiv h2 {
	display: inline-block;
	margin: 0px 0 10px 0;
	cursor: pointer;
	font-family: 'Open Sans Condensed', sans-serif;
	color: black;
}
.hiddenIngDiv{
	opacity: 0;
}
.hiddenIngDiv.whiteSpace{
	padding: 20px 0 0 35px;
}
section#recetteContainDiv h2:hover {
	font-size: 1.7em;
	text-shadow: 2px 2px 5px #02020280;
}

/*#contentNewRecipe, #contentViewRecipe, #contentModifViewRecipe {

}*/

#contentViewRecipe {
	text-align: left;
}

section#recetteContainDiv #contentNewRecipe span.fa-pepper-hot, section#recetteContainDiv #contentModifViewRecipe span.fa-pepper-hot,
	section#recetteContainDiv #contentNewRecipe span.fa-coins, section#recetteContainDiv #contentModifViewRecipe span.fa-coins
	{
	color: #864002;
	text-shadow: none;
}

section#recetteContainDiv #contentNewRecipe span.fa-times, section#recetteContainDiv #contentModifViewRecipe span.fa-times
	{
	padding: 10px;
}

/*section#recetteContainDiv  #contentNewFood div.flexrow, section#recetteContainDiv  #contentModifFood div.flexrow
	{
	margin-top: 10px;
}*/

section#recetteContainDiv p.borderTop {
	padding-top: 10px;
}

#menuCategChoice {
	justify-content: space-around;
	margin-top: 20px;
	height: 35px;
}

#actionCategory>div:nth-child(2), #actionCategory>div:nth-child(3),
	#actionCategory>div:nth-child(4) {
	justify-content: center;
}

section#recetteContainDiv #contentNewRecipe>h2:nth-child(1) {
	text-align: center;
	height: 35px;
	margin-top: 20px;
}

section#recetteContainDiv #alphaNewModifRecipe, section#recetteContainDiv #newAlphaRecipe
	{
	width: 40px;
}

section#recetteContainDiv #selectNewCategRecipe, section#recetteContainDiv #selectModifCategRecipe
	{
	width: 180px;
}

section#recetteContainDiv select {
	width: 80px;
}

section#recetteContainDiv div.etapeRecipeFlex select {
	width: 50px;
	height: 30px;
}

section#recetteContainDiv #contentViewRecipe span.fas.fa-heart.emptySpan,
	section#recetteContainDiv #contentNewRecipe span.fas.fa-heart.emptySpan,
	section#recetteContainDiv #contentModifViewRecipe span.fas.fa-heart.emptySpan
	{
	font-size: 1.9em;
	margin: 0;
	height: 30px;
	width: 30px;
}

div.pushIngDiv>p:nth-child(4) {
	width: 30px;
}

section#recetteContainDiv form label, section#userAccompte .formLogin label,section#userAccompte .formLogin p {
	width: auto;
	margin-top: 20px;
	color: white;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 1.1em;
	font-weight: bold;
}

#divAddCateg, #divModifCateg, #divDelCateg {
	overflow: hidden;
	height: 0px;
}

section #divAddCateg form, section #divModifCateg form, section #divDelCateg form, section#userAccompte .formLogin
	{
	box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.6) inset;
	border-radius: 5px;
	border: 1px solid #1c1c1c;
	background: #7b0e02;
	display: flex;
	padding: 10px 30px;
	flex-direction: column;
	justify-content: center;
	margin-top: 20px;
	align-items: center;
	width: max-content;

}
section #divAddCateg form, section #divModifCateg form, section #divDelCateg form{
	opacity: 0;
}
section #divAddCateg form label, section #divModifCateg form label, section#userAccompte .formLogin label,
	section #divDelCateg form label {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 1.1em;
}
section#userAccompte .formLogin input,
section #divAddCateg form input, section #divModifCateg form input,
	section #divDelCateg form input, section #divAddCateg form select,
	section #divModifCateg form select, section #divDelCateg form select {
	background-color: #ffffffb0;
}

section#recetteContainDiv #divModifCateg form span, section#recetteContainDiv #divAddCateg form span,
	section#recetteContainDiv #divDelCateg form span, section#userAccompte .formLogin button, section#userAccompte .formLogin input[type="submit"] {
	margin: 10px;
	border-radius: 2px;
	height: 20px;
	text-align: center;
	border: 1px solid #fff;
	background-color: #fff0;
	font-size: 1.2em;
	box-shadow: 0px 0px 5px #6b6a6a;
	color: white;
	text-shadow: 0 0 1px black;
	cursor: pointer;
}
section#recetteContainDiv #divModifCateg form span, section#recetteContainDiv #divAddCateg form span,
section#recetteContainDiv #divDelCateg form span{
	padding: 8px 15px 15px 15px;
}
 #contentNewRecipe{
 	width: 100%;
 	text-align: center;
 }
section#recetteContainDiv #divModifCateg form span:hover, section#recetteContainDiv #divAddCateg form span:hover,
	section#recetteContainDiv #divDelCateg form span:hover,section#userAccompte .formLogin input[type="submit"]:hover,
section#userAccompte .formLogin button:hover{
	color: #6a0a00c4;
}

#contentViewRecipe, #contentModifViewRecipe, #contentNewViewRecipe {
	margin-bottom: 30px;
	box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.51);
	background-color: #faebd791;
	font-size: 0.9em;
		width: 100%;
	text-align: center;
	height: auto;
	overflow: hidden;
}

#contentModifViewRecipe, #contentNewViewRecipe {
	background-color: #ffffff91;
}

#recipesAlpha span {
	color: antiquewhite;
}

#contentViewRecipe hr, #contentModifViewRecipe hr, #contentNewViewRecipe hr
	{
	border: 1px dashed #9f0505
}

#contentRecipesMenu {
	overflow: hidden;
	height: 40px;
}

#recipesAlpha, #paginationRecipe {
	opacity: 0;
}

#recipesAlpha {
	background-color: #9f0505;
}

#recipesAlpha nav ul,#paginationRecipe nav ul {
	margin-top: 0;
	margin-bottom: 0;
	display: flex;
	flex-direction: row;
	text-decoration: none;
	list-style: none;
	height: 39px;
	align-items: center;
}

#recipesAlpha nav ul li, #paginationRecipe nav ul li {
	margin: 0 4px;
	cursor: pointer;
	font-size: 1em;
	width: 30px;
	color: white;
}

#recipesAlpha li:hover, #paginationRecipe li:hover {
	font-size: 1.1em;
	font-weight: bold;
	text-shadow: 0px 0px 2px #020202;
}

#paginationRecipe span, #recipesAlpha span{
	box-sizing: border-box;
	width: 100%;
	display: inline-block;
	text-align: center;
}

/*#paginationRecipe nav ul {
	display: flex;
	margin-top: 0;
	flex-direction: row;
	text-decoration: none;
	list-style: none;
	height: 39px;
	align-items: center;
}*/

#paginationRecipe span.active {
	color: #9f0505;
}

/*#recipes #btnRecipeLeft, #recipes #btnRecipeRight {
	width: 15px;
	position: absolute;
}

#recipes #btnRecipeLeft {
	left: 0;
}

#recipes #btnRecipeRight {
	right: 0;
}

#recipes #btnRecipeLeft span, #recipes #btnRecipeRight span {
	cursor: pointer;
	display: none;
}*/

#recipes div#listRecipeGroup {
	width: 100%;
}

section#recetteContainDiv #recipes {
	width: 100%;
}

section#recetteContainDiv #recipes nav ul {
	text-decoration: none;
	list-style: none;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 0;
	position: relative;
	margin: 0;
}

section#recetteContainDiv #recipes nav ul div {
	display: flex;
	flex-direction: column;
	width: 100%;
	flex-wrap: wrap;
	min-height: 400px;
}

#contentNewRecipe>hr {
	margin-bottom: 10px;
}

section#recetteContainDiv #recipes nav ul img {
	width: 20px;
	margin-right: 5px;
}

#love img, #Modiflove img, #Newlove img {
	width: 30px;
	height: 30px;
}

#recipes nav ul li span:nth-child(1) {
	margin-right: 18px;
}

section#recetteContainDiv #recipes nav ul li {
	height: 20px;
	align-items: center;
	display: flex;
	margin: 5px;
}

section#recetteContainDiv #recipes nav ul li span {
	cursor: pointer;
	font-size: 1.1em;
	color: rgb(134, 64, 2);
	text-shadow: 0px 0px 1px #020202;
}

section#recetteContainDiv #recipes nav ul li span:hover {
	color: white;
	font-size: 1.2em;
	font-weight: bold;
	text-shadow: 0px 0px 2px #020202;
}

#titleRecipe {
	font-size: 2em;
	font-family: 'Handlee', cursive;
	color: #9f0505;
	text-shadow: 1px 1px 1px #a7a7a7;
	font-weight: bold;
}

#Modiflove, #love {
	width: 40px;
	height: 40px;
}

.upload-zone-wait {
	height: 150px;
	border: 2px dashed #ccc;
	line-height: 150px;
	color: #ccc;
	text-align: center;
	margin-bottom: 12px;
}

.upload-zone-wait.over {
	background-color: #F8DADA;
}

#formImgRecipe, #modifFormImgRecipe, #idRecetteSelectToShow {
	display: none;
}

.price, .hard {
	height: 40px;
	width: 40px;
	background-size: contain;
	background-repeat: no-repeat;
}

.hard {
	background-image: url('../img/kajoo/kajoo9.png');
}

.price {
	background-image: url('../img/kajoo/kajoo10.png');
}

#contentRecipe, #contentNewRecipeInfos, #contentModifRecipe {
	padding: 0 20px 20px 20px;
	justify-content: space-evenly;
	min-height: 180px;
	min-width: 350px;
}

#contentNewRecipeInfos>div, #contentRecipe>div, #contentModifRecipe>div
	{
	align-items: center;
	height: 40px
}

#imgViewRecipe {
	justify-content: center;
	align-items: center;
	margin: auto;
}

#contentModifRecipe p {
	margin-left: 20px;
}

#contentModifEtape, #etapeRecipeFlex {
	width: 100%;
}

#contentFoodEtape {
	margin-top: 50px;
	margin-top: 50px;

border-top: 2px dotted #9f0505;

padding-top: 20px;
}

#contentFood p {
	margin: 0 0 10px 20px;
}

#contentFood, #contentNewFood, #contentModifFood {
	max-width: 400px;
	margin-bottom: 30px;
	width: 40%;
	text-align: left;
}
#contentNewFood div.whiteSpace input, #contentModifFood div.whiteSpace input{
font-size: 1em;
padding: 2px 0 2px 4px;
height: 20px;
width: 100%;
min-width: 100px;
text-align: left;
}
#contentFood img, #navListIng img{
height:40px;
width:40px;
	}
#navListIng img {
margin-right: 15px;
float: left;
}
 #contentNewFood div.whiteSpace, #contentModifFood div.whiteSpace ,#contentFood div.whiteSpace{
flex-wrap: wrap;
	 margin: 15px 0px 15px 10px;
 }
#contentModifFood div.flexrow.pushIngDiv>span.fa-minus:nth-child(1),
	#contentNewFood div.flexrow>span.fa-minus:nth-child(1) {
	margin: 0 10px;
}
#okCreateNewIng, #noCreateNewIng {
	margin-right: 15px;
}

#contentNewViewRecipe #newMessErrorIng {
	height: 0;
}
#contentFood{
	background: linear-gradient(0.25turn, #fff, #fff0);
}
#contentModifViewRecipe textarea, #contentNewViewRecipe textarea {
	background-color: #fff;
	border: 1px solid #9f0505;
	width: 100%;
}

section#recetteContainDiv #contentModifViewRecipe form#modifFormImgRecipe>div.flexrow,
	section#recetteContainDiv #contentNewViewRecipe form#formImgRecipe>div.flexrow
	{
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

section#recetteContainDiv #contentModifViewRecipe form#modifFormImgRecipe>div.flexrow p,
	section#recetteContainDiv #contentNewViewRecipe form#formImgRecipe>div.flexrow p
	{
	font-size: 0.9em;
}

section#recetteContainDiv #contentModifViewRecipe input[type="file"],
	section#recetteContainDiv #contentNewViewRecipe input[type="file"] {
	background: transparent;
	border: 0;
	height: 0px;
	width: 0px;
	cursor: pointer;
}

section#recetteContainDiv #contentModifViewRecipe form#modifFormImgRecipe  span#submitImgRecipeModif,
	section#recetteContainDiv #contentModifViewRecipe form#modifFormImgRecipe  span#parcourirImgRecipeModif,
	section#recetteContainDiv #contentNewViewRecipe form#formImgRecipe span#parcourirImgRecipeNew,
	section#recetteContainDiv #contentNewViewRecipe form#formImgRecipe span#submitImgRecipeNew
	{
	width: 130px;
	cursor: pointer;
}

#actionNewRecipe #validNewRecipe, #actionNewRecipe #annulNewRecipe,
	#actionModifRecipe #validModifRecipe, #actionModifRecipe #annulModifRecipe
	{
	width: 180px;
	cursor: pointer;
}

#alphaModifRecipe input, #alphaNewRecipe input {
	width: 20px;
}
#contentModifFoodEtape div.flexrow div.flexrow, #contentNewFoodEtape div.flexrow div.flexrow {
	width: 220px;

	align-items: baseline;
}
/*#contentModifFood div.flexrow>input:nth-child(3), #contentNewFood div.flexrow>input:nth-child(3)
	{
	width: 50px;
	margin: 0;
}*/

#contentModifFoodEtape div.flexColumn div.flexrow label, #contentNewFoodEtape div.flexColumn div.flexrow label{
width:50px
}


#contentModifFoodEtape > div.flexrow, #contentNewFoodEtape > div.flexrow {
	align-items: baseline;
	width: 100%;

}

#contentModifFoodEtape div.flexrow p, #contentNewFoodEtape div.flexrow p,
	#contentModifFoodEtape div.flexrow div.flexrow, #contentNewFoodEtape div.flexrow div.flexrow
	{
	padding: 0 2px;
	margin-bottom: 15px;
}

#contentModifFoodEtape, #contentNewFoodEtape {
	margin-top: 30px;
	width: 100%;
	padding: 0 10px;
}

#pushIng>p:nth-child(1), #createIng>p:nth-child(1), #pushNewIng>p:nth-child(1),
	#createNewIng>p:nth-child(1), #contentModifEtape span.pushEtapeInside>p:nth-child(1),
	#contentNewEtape span.pushEtapeInside>p:nth-child(1) {
	padding-left: 8px;
	font-size: 0.9em;
	font-weight: bold;
}

#pushIng, #createIng, #contentModifEtape span.pushEtapeInside,
	#pushNewIng, #createNewIng, #contentNewEtape span.pushEtapeInside {
	align-items: center;
}

#pushIng, #createIng, #pushNewIng, #createNewIng {
	margin-top: 20px;
	cursor: pointer;
}

#contentModifEtape hr, #contentNewEtape hr {
	border: 1px dashed #9f0505;
	width: 100%;
	margin: 20px 0;
}

#annulCreateNewIng, #validCreateNewIng, #validNewIng, #annulNewIng,
	#validNewIng, #annulNewIng, #validCreateNewIng, #annulCreateNewIng {
	margin: 0 10px;
}

span.fa-question-circle:hover, #contentNewFood span.fa-question-circle:hover,
	#popPushIng:hover, #popCreateIng:hover, #contentNewEtape #popEtape:hover
	{
	color: #9f0505;
	cursor: help;
}

div#contentModifFood.flexColumn div.titleIngRecipe span:hover {
	color: #440202;
	cursor: pointer;
}

div#contentModifFood.flexColumn div.titleIngRecipe i, div#contentNewFood.flexColumn div.titleIngRecipe i
	{
	color: grey;
	margin: 0 10px;
	text-shadow: none;
}

div#contentModifFood.flexColumn div.titleIngRecipe i:hover, div#contentNewFood.flexColumn div.titleIngRecipe i:hover
	{
	color: #6c6c6c;
	text-shadow: 1px 1px 1px #373636;
	cursor: help;
}

div#contentModifEtape.flexColumn div.etapeRecipeFlex div div.flexColumn div.flexrow span.fas.fa-camera,
	div#contentNewEtape.flexColumn div.etapeRecipeFlex div div.flexColumn div.flexrow span.fas.fa-camera
	{
	color: black;
}

#imgModifRecipe, #imgNewRecipe, #imgRecipe {
	flex: 1;
	display: flex;
	justify-content: flex-start;
	padding-left: 20px;
	align-items: inherit;
}

#imgRecipeModif img, #imgRecipeNew img, #imgViewRecipe img {
	max-width: 450px;
	padding-right: 10px;
	max-height: 300px;
	margin: 10px;
}

#contentModifViewRecipe input, #contentNewViewRecipe input {
	width: 140px;
	margin: 0;
}

#formImgRecipe input {
	width: 270px;
}

#submitImgRecipe:hover {
	cursor: pointer;
}

#contentModifEtape, #contentNewEtape, #contentEtape {
	align-items: center;
	width: 60%;
}

#contentModifEtape>div.etapeRecipeFlex, #contentNewEtape>div.etapeRecipeFlex,
	#contentEtape>div.etapeRecipeFlex {
	width: 100%;
}

#actionNewRecipe, #actionModifRecipe {
	padding-left: 10px;
	flex-direction: row;
	justify-content: space-evenly;
	margin-top: 20px;
}

#actionRecipe {
	margin: 0 0 40px 0;
	background: #7b0e02;
}

#actionRecipe div#actionRecipeMenuUser, #actionRecipe div#actionRecipeMenuFriend
	{
	display: none;
	flex-direction: row;
	width: 100%;
	justify-content: space-evenly;
	height: 40px;
	align-items: center;
}

#actionRecipe div#actionRecipeMenuUser button, #actionRecipe div#actionRecipeMenuFriend button
	{
	color: antiquewhite;
	cursor: pointer;
	height: 40px;
	padding: 5px 
}
#actionRecipe div#actionRecipeMenuUser button:hover, #actionRecipe div#actionRecipeMenuFriend button:hover{
color: #7b0e02;
}
#actionRecipe div#actionRecipeMenuUser p, #actionRecipe div#actionRecipeMenuFriend p
	{
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: bold;
	margin-left: 10px;
	color: antiquewhite;
	font-size: 1em;
}

#newMessErrorTitle p, #newMessErrorCateg p, #newMessErrorAlpha p,
	#newMessErrorIng p, #modifMessErrorTitle p, #modifMessErrorAlpha p,
	#modifMessErrorIng p, p.error {
	color: #d20505;
}

#newIdRecette {
	display: none;
}

p.borderTop {
	border-top: 1px dashed;
	margin-top: 10px;
}

span#annulNewRecipe, span#annulModifRecipe {
	width: 180px;
}

/************************************************************************************************/
#newBlockTwo, #newBlockThree, #newBlockFour, #modifBlockTwo,
	#modifBlockThree, #modifBlockFour {
	overflow: hidden;
	height: 0px;
}

#newBlockTwo span, #newBlockThree span, #newBlockFour span,
	#modifBlockTwo span, #modifBlockThree span, #modifBlockFour span {
	cursor: pointer;
}

#contentModifFoodEtape span p, #contentNewFoodEtape span p {
	font-family: 'Open Sans Condensed', sans-serif;
}

#newBlockTwoTitle, #newBlockThreeTitle, #newBlockFourTitle,
	#modifBlockTwoTitle, #modifBlockThreeTitle, #modifBlockFourTitle {
	cursor: pointer;
	height: 40px;
	background: #7b0e02;
	box-shadow: 2px 5px 15px #000;
}

#newBlockTwoTitle a, #newBlockThreeTitle a, #newBlockFourTitle a,
	#modifBlockTwoTitle a, #modifBlockThreeTitle a, #modifBlockFourTitle a
	{
	margin: auto;
	font-size: 1em;
	color: antiquewhite;
	text-decoration: none;
}

#newBlockTwoTitle span, #newBlockThreeTitle span, #newBlockFourTitle span,
	#modifBlockTwoTitle span, #modifBlockThreeTitle span,
	#modifBlockFourTitle span {
	color: antiquewhite;
}

#newBlockTwo div.hideDivAnim, #newBlockThree div.hideDivAnim,
	#newBlockFour div.hideDivAnim, #modifBlockTwo div.hideDivAnim,
	#modifBlockThree div.hideDivAnim, #modifBlockFour div.hideDivAnim {
	opacity: 0;
}

#newBlockTwo div.hideDivAnim, #newBlockThree div.hideDivAnim,
	#modifBlockTwo div.hideDivAnim, #modifBlockThree div.hideDivAnim {
	padding: 15px 0
}

#newBlockTwo div.hideDivAnim, #modifBlockTwo div.hideDivAnim {
	justify-content: center;
	align-items: center;
}

#newBlockTwo div.hideDivAnim div, #modifBlockTwo div.hideDivAnim div {
	margin: 0 10px;
	align-items: center;
}

#alphaNewRecipe label, #alphaModifRecipe label {
	margin-right: 10px;
	margin-top: 0px;
}

#newBlockTwo div.hideDivAnim div>label, #modifBlockTwo div.hideDivAnim div>label
	{
	width: auto;
}

#modifBlockOne, #newBlockOne {
	justify-content: center;
	align-items: center;
	margin: 10px 0;
}

#newBlockOne div#titleNewRecipe {
	width: 100%
}

#newBlockOne label, #modifBlockOne label {
	width: 0px;
}

#newBlockOne input, #modifBlockOne input {
	width: 80%;
}

#modifBlockOne>div:first-child, #newBlockOne>div:first-child {
	width: 100%
}

#blockTwo {
	margin: 0 0 30px 20px;
	align-items: center;
}

#blockThree #contentRecipe>div>p:first-child, #contentFood>p:first-child,
	#contentEtape p.timeEtape {
	font-weight: bold;
	color: #9f0505;
	margin-right: 20px;
}
#contentFood > p:first-child{
	background-color:#9f0505;
margin: 0 0 10px 0;
padding: 5px 0 5px 40px;
color: antiquewhite;
}