@media screen and (max-width: 1200px) { /*min 767px*/
	#repairTab {
		display: block;
	}
	#repairMob, #repairMobXs {
		display: none;
	}
	header nav#menu li img {
		height: 70px;
	}
	header div#login img {
		top: 25px;
	}
	header nav#menu li {
		margin: 0 5px;
		width: 69px;
		height: 69px;
	}
	header #login div {
		display: none;
	}
	header #logo img {
		height: 110px;
	}
	header #logo div {
		width: 180px;
		height: 180px;
		top: -50px;
	}
	header nav#menu ul {
		padding-left: 30px;
	}
	header #logo {
		height: 70px;
	}
	section#planningContainer>div {
		width: 90%;
	}
	#validAllPlanningWeek {
		top: 240px;
	}
	footer div div h3 {
		margin: 4px;
	}
	footer {
		position: inherit;
	}
	#menuLoging {
		margin-top: 10px;
	}
	section {
		margin-bottom: 40px;
	}
	#recipesAlpha nav ul {
		flex-wrap: wrap;
		padding-left: 0;
		justify-content: center;
	}
	#recipes div#listRecipeGroup {
		text-align: center;
	}
	#contentModifEtape>div.etapeRecipeFlex>div>div>div.flexrow,
		#contentNewEtape>div.etapeRecipeFlex>div>div>div.flexrow,
		#contentEtape>div.etapeRecipeFlex>div>div>div.flexrow {
		flex-wrap: wrap;
	}
	section#recetteContainDiv div.etapeRecipeFlex select {
		width: 50px;
	}
	#contentRecipesMenu {
		width: 100%;
	}
	#imgModifRecipe, #imgNewRecipe, #imgRecipe {
		flex-direction: column;
		padding-left: 0px;
	}
	#imgRecipeModif img, #imgRecipeNew img, #imgViewRecipe img {
		max-width: 300px;
		padding-right: 0;
	}
	#contentModifViewRecipe textarea, #contentNewViewRecipe textarea {
		max-width: 350px;
	}
	section#recetteContainDiv #contentNewRecipe span.fa-camera, section#recetteContainDiv #contentModifViewRecipe span.fa-camera
		{
		padding: 10px;
	}
	.homePresentation {
		text-align: left;
	}
	.formLogin {
		width: auto;
	}
	section #btnCategory {
		flex-wrap: wrap;
		margin-bottom: 20px;
	}
	#actionCategory div h2, #contentNewRecipe h2 {
		padding-left: 20px;
		font-size: 1.2em;
		text-shadow: unset;
	}
	section#recetteContainDiv h2:hover {
		font-size: 1.3em;
	}
	#contentNewRecipe h2+hr {
		width: auto;
	}
/*	section#recetteContainDiv #contentNewRecipe span, section#recetteContainDiv #contentViewRecipe span,
		section#recetteContainDiv #contentModifViewRecipe span,
		#contentModifFoodEtape div.flexrow p, #contentNewFoodEtape div.flexrow p,
		#contentModifFoodEtape div.flexrow div.flexrow, #contentNewFoodEtape div.flexrow div.flexrow
		{
		font-size: 1.1em;
	}*/
	/*	#contentViewRecipe, #contentModifViewRecipe{
		width:90%;
		margin-top: 30px;
	}*/
	#contentFood, #contentNewFood, #contentModifFood {
width: 50%;
	}
	#contentNewFood>div.flexrow, contentModifFood>div.flexrow {
		margin-left: 10px;
	}
	#contentNewViewRecipe>div.flexColumn:nth-child(1), #contentViewRecipe>div.flexColumn:nth-child(3),
		#contentModifViewRecipe>div.flexColumn:nth-child(1) {
		width: 100%;
	}
	#recipes #btnRecipeRight {
		right: 20px;
	}
	#recipes #btnRecipeLeft {
		left: 20px;
	}
	#contentViewRecipe, #contentModifViewRecipe, #contentNewViewRecipe {
		margin-right: 0;
	}
	#Newlove, #alphaNewRecipe {
		width: auto;
	}
	#Modiflove {
		padding-left: 10px;
	}
	#alphaNewRecipe {
		display: flex;
		padding-right: 20px;
	}
	#contentNewEtape, #contentModifEtape {
		padding-right: 0px;
		padding-left: 20px;
	}
	#contentRecipe, #contentNewRecipeInfos, #contentModifRecipe {
		padding: 0 0px 20px 10px;
	}
	#contentEtape {
		padding-right: 20px;
	}
	/**********************************************************************/
	div#divPlanningMonthAndWeek {
		flex-direction: column;
	}
	.flexrow.calendrier {
		width: auto;
		flex-direction: column;
		align-items: center;
	}
	#calendarEvent {
		margin-top: 20px;
	}
	#contentPlaningMonthDay span {
		margin-left: 10px;
	}
	#contentPlaningMonthDay>div.flexColumn div div {
		padding: 2px 10px 2px 10px;
	}
	#contentPlaningMonthDay>div.flexColumn div div:hover {
		background-color: #ffcf0024;
	}
	.contentPlaningWeek {
		margin: 10px;
	}
}